<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <h1>
    <%= title %>
  </h1>
  <p><a href="new">New Message</a></p>
  <% for (const m of messages) {%>
    <ul></ul>
    <li>
      <%= m.text %>
    </li>
    <li>
      <%= m.user %>
    </li>
    <li>
      <%= m.added %>
    </li>
    <%}%>

</body>

</html>